body {
  margin: 0;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: solid black 2px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: black;
}
